.how_it_work--title{
    font-size: 24px;
}
.consulting{
    p{
        text-align: justify;
    }
}

@media screen and (min-width: 1024px){
    .consulting{
        p{
            font-size: 24px;
        }
    }
    .ts-title{
        margin-bottom: 0px;
    }
}