.content-plains--sub-tittle{
    font-size: 24px!important;
    margin-bottom: 12px!important;
}
.content-plains--sub-text{
    font-size: 20px!important;
}
.content-plains--list{
    font-size: 16px;
}