@import "generals";
@import "header";
@import "publiship";
@import "how_work";
@import "about-us";
@import "planes";
@import "steps";
@import "footer";

.ts-block {
    padding-bottom: 0rem;
    padding-top: 0rem;
    position: relative;
}
.mb-5, .my-5 {
    margin-bottom: 0!important; 
}
.new_size_title{
    font-size: 30px!important;
    font-weight: bold!important;
}