<section class="text-center my-5 py-5 reti">
    <div content="ts-title mb-5 " class="public-content">
      <h3 class="mb-1">EL MEJOR MOMENTO PARA PARTICIPAR ES AHORA</h3>
      <h5 class="font-weight-normal ts-opacity__50 mb-5">
        Puedes participar de forma simple y al plazo que desees. Lo único que
        necesitas es definir un plan de gestión y seleccionar el vencimiento.
      </h5>
    </div>
    <!-- <a
      href="#"
      class="btn btn-outline-primary btn-lg border-0"
      data-bg-color="#012169"
      style="color:#fff"
      >Empezar ahora</a
    > -->
  </section>
  