<header id="ts-hero" class="ts-full-screen ts-separate-bg-element" style="height: 900px;" >
  
  <%- include('Navegation.ejs'); %> 

  <div class="container align-self-center align-items-center banner-container-div">
    <div class="row banner-content">
      <div class="col-md-7 top-up">
        <h1 data-animate="ts-fadeInUp" class="banner-content--title desktop">
          Haz crecer tus activos y genera el <span class="font-weight-bold ">10%</span> mensual  bajo contrato
        </h1>
        <h1 data-animate="ts-fadeInUp" class="banner-content--title mobile">
          Haz crecer tus activos y genera el <span class="font-weight-bold ">10%</span> mensual <br> bajo contrato
        </h1>
        <div class="d-flex" data-animate="ts-fadeInUp" data-delay=".1s">
          <!-- <p class="w-75 pr-4 text-white mb-5 banner-content--sub--title">
            La libertad financiera está solamente a un click de distancia
          </p> -->
          <!-- <p class="w-75 sub_title text-white mb-5 ">
            Haz crecer tus acivos y genera el <span class="font-weight-bold ">10%</span> mensual bajo contrato.
          </p> -->
        </div>
        <div class="banner-content--btns">
          <button
          data-toggle="modal" data-target="#modalheader"
          class="btn btn-header"
          data-animate="ts-fadeInUp"
          data-delay=".2s"
        >
        Quiero invertir
          <i class="fa fa-arrow-right small ml-3 ts-opacity__50"></i>
        </button>
        <!-- <a
          href="#form-contact"
          class="btn-link text-white d-inline-block"
          data-animate="ts-fadeInUp"
          data-delay=".3s"
        >
        
        <strong>Inicia Sesión ahora!</strong>
      </a> -->
        </div>
       
      </div>
      <div class="col-sm-5 offset-lg-1 col-md-4 content_form_header">
        <form class="desktop ts-form p-4 ts-border-radius__md text-white ts-fadeInUp animated content_form_header--form" data-bg-color="rgba(255,255,255,.2)"  data-delay=".2s" action="/contat-us-optios" method="post" style="background-color: rgba(255, 255, 255, 0.2); animation-delay: 0.2s; visibility: visible;">
            <h3>Invierte con nosotros</h3>
            <p class="text-white d-none d-lg-block">Si quieres más información contáctanos </p>

            <div class="form-group">
                <input type="text" class="form-control" id="hero-name" name="name" placeholder="Nombre completo" required="">
            </div>
            <!--end form-group -->
            <div class="form-group">
                <input type="email" class="form-control" id="hero-email" name="email" placeholder="Correo electrónico " required="">
            </div>
            <!--end form-group -->
            <div class="form-group">
                <div class="select-wrapper"><select class="custom-select form-control" name="options" required="">
                    <option selected disabled>Selecciona lo que desea</option>
                    <option value="Quiero invertir">Quiero invertir</option>
                    <option value="Hablar con un agente">Hablar con un agente</option>
                    <!-- <option value="3"></option> -->
                </select></div>
            </div>
            <!--end form-group -->
            <button type="submit" class="btn btn-primary w-100">Contactar</button>
        </form>
        <!--end ts-form-->
        <!-- <p class="text-white form_header--sub-title">Contáctenos hoy mismo y descubra cómo podemos ayudarlo a lograr sus metas financieras".</p> -->
    </div>
    </div>
  </div>
  
  <div
    class="ts-background"
    data-bg-color="#141a3a"
    data-bg-parallax="scroll"
    data-bg-parallax-speed="3"
  >
    <div
      class="ts-background-image ts-svg ts-z-index__1 ts-background-position-center d-none d-md-block"
      data-bg-image="assets/svg/shape-mask.svg"
      data-animate="ts-fadeInLeft"
    ></div>
    <div
      class="bg-edit ts-background-image ts-parallax-element"
      data-bg-image="assets/img/bg-man-sitting.jpg"
      data-animate="ts-zoomOutIn"
    ></div>
  </div>
</header>


<div class="modal fade" id="modalheader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>