<!-- <section id="how-it-works" class="ts-block ts-xs-text-center pb-5">
    <div class="container">
        <div class="ts-title">
            <h2 class="how_it_work--title">¿Cómo funciona?</h2>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">1</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-bubble.png" alt="">
                                </div>
                            </figure>
                            
                        </div>
                        
                        <div class="ts-item-body consulting">
                            <h4>Consúltanos</h4>
                            <p>
                             Haz una consulta con nosotros y verás que operamos en los mercados internacionales por medio del análisis técnico y fundamental para generar rendimientos variables y significativos.
                            </p>
                            <p>Utilizamos herramientas comerciales y estrategias probadas para establecer límites de ganacias y administrar riesgos.</p>
                            <p>Contamos con la experiencia y la tecnología financiera más avanzada para detectar a corto y mediano plazo las oportunidades más rentables. Esto nos permite garantizar beneficios mensuales fijos hasta finalizar el período acordado.</p>
                        </div>
                      
                    </div>
                 
                </div>
                
            </div>
           
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.1s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">2</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-knobs.png" alt="">
                                </div>
                            </figure>
                        </div>
                        
                        <div class="ts-item-body consulting">
                            <h4>Tan sólo 3 pasos</h4>
                            <p> <strong>Regístrate:</strong> Y logra acceder a nuestros grandiosos planes y a nuestro gran equipo.</p>
                            <p> <strong>Haz un Depósito:</strong> Hacer un depósito es el segundo paso para poder cambiar tu vida y transformar tu forma de vida.</p>
                            <p><strong>Recibe Ganancias:</strong> Es nuestro tercer paso, recibe y disfruta de tus ganancias, lo puedes lograr con nosotros</p>
                        </div>
                      
                    </div>
                  
                </div>
                
            </div>
           
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.2s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">3</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-heart.png" alt="">
                                </div>
                            </figure>
                           
                        </div>
                        
                        <div class="ts-item-body consulting">
                            <h4>Disfruta tu libertad financiera</h4>
                            <p>Disfrutar de la libertad financiera no tiene precio, para poder disfrutar de la familia y de las cosas buenas de la vida.</p>
                        </div>
                      
                    </div>
                  
                </div>
              
            </div>
           
        </div>
        
    </div>
   
</section> -->


<section id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ts-block pr-3 about-us--content">
            <div class="ts-title">
              <!-- <h2 class="about-us--title">¿Cóm?</h2> -->
            </div>
            <!--end ts-title-->
            <!-- <p class="about-us--texts">
                <div class="ts-item-content">
                    <div class="ts-item-header text-center">
                        <figure class="icon">
                            <span class="step" data-animate="ts-zoomIn">1</span>
                            <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                <img src="assets/img/icon-bubble.png" alt="">
                            </div>
                        </figure>
                        
                    </div>
                    
                    <div class="ts-item-body consulting">
                        <h4 class="text-center">Consúltanos</h4>
                        <p>
                          consulta con nosotros y verás que operamos en los mercados internacionales por medio del análisis técnico y fundamental para generar rendimientos variables y significativos.
                        </p>
                        <p>Utilizamos herramientas comerciales y estrategias probadas para establecer límites de ganacias y administrar riesgos.</p>
                        <p>Contamos con la experiencia y la tecnología financiera más avanzada para detectar a corto y mediano plazo las oportunidades más rentables. Esto nos permite garantizar beneficios mensuales fijos hasta finalizar el período acordado.</p>
                    </div>
                  
                </div>
            </p> -->
            <div class="list-group list-group-flush mb-5">
              <a
              href="#collapsenine"
              class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent about-us--title new_size_title"
              data-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="collapsenine"
              >¿Cómo funciona?</a
            >
            <div class="collapse" id="collapsenine">
              <div class="ts-item-content">
                
                
                <div class="ts-item-body consulting">
                    <!-- <h4 class="text-center">Consúltanos</h4> -->
                  <p>Colocamos tus activos digitales en instrumentos financieros internacionales que generan rendimientos variables. Utilizamos nuestras herramientas comerciales para establecer límites de ganancias y administrar los riesgos.</p>
                  <p>Contamos con la experiencia y la tecnología más avanzada para detectar las oportunidades financieras más rentables. Esto nos permite garantizar que recibas beneficios mensuales fijos hasta finalizar el período acordado.</p>
                </div>
              
            </div>
              
            
            </div>
              <!-- <a
                href="#collapsefour"
                class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent about-us--title"
                data-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="collapsefour"
                >Consúltanos</a
              > -->
              <div class="collapse" id="collapsefour">
                <div class="ts-item-content">
                  <!-- <div class="ts-item-header text-center">
                      <figure class="icon">
                          <span class="step" data-animate="ts-zoomIn">1</span>
                          <div class="ts-circle__md" data-bg-color="#ebf1fe">
                              <img src="assets/img/icon-bubble.png" alt="">
                          </div>
                      </figure>
                      
                  </div> -->
                  
                  <div class="ts-item-body consulting">
                      <!-- <h4 class="text-center">Consúltanos</h4> -->
                      <!-- <p>
                       Haz una consulta con nosotros y verás que operamos en los mercados internacionales por medio del análisis técnico y fundamental para generar rendimientos variables y significativos.
                      </p>
                      <p>Utilizamos herramientas comerciales y estrategias probadas para establecer límites de ganacias y administrar riesgos.</p>
                      <p>Contamos con la experiencia y la tecnología financiera más avanzada para detectar a corto y mediano plazo las oportunidades más rentables. Esto nos permite garantizar beneficios mensuales fijos hasta finalizar el período acordado.</p> -->
                  </div>
                
              </div>
                
              
              </div>
             
            <a
            href="#collapsesix"
            class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent about-us--title new_size_title"
            data-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="collapsesix"
            >¿Qué son Ingresos Pasivos Virtuales?</a
          >
          <div class="collapse" id="collapsesix">
            <div class="ts-item-content">
              <!-- <div class="ts-item-header text-center">
                <figure class="icon">
                    <span class="step" data-animate="ts-zoomIn">3</span>
                    <div class="ts-circle__md" data-bg-color="#ebf1fe">
                        <img src="assets/img/icon-heart.png" alt="">
                    </div>
                </figure>
               
            </div> -->
                
                <div class="ts-item-body consulting">
                  <p>Los Ingresos Pasivos Virtuales (IPV) son aquellos que se obtienen 100% online y de manera automática, sin necesidad de destinar tiempo y sin tener que involucrarse en el proceso.</p>
                  <p>Otra forma de verlo sería, percibir dinero mientras duermes o haces alguna otra cosa que te guste.</p>
                  <p>Solo necesitas un capital inicial que trabaje por ti. </p>
                  <p>Estos ingresos pasivos son ideales para quienes buscan potenciar al máximo su dinero.</p>
                </div>
              
            </div>
          </div>
         
            </div>
            
              <!-- <a
                href="#collapseThree"
                class="list-group-item list-group-item-action pl-0 font-weight-bold bg-transparent"
                data-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="collapseThree"
                >Awards and Wins</a
              >
              <div class="collapse" id="collapseThree">
                <p class="pt-3 small">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. Nihil anim keffiyeh
                  helvetica, craft beer labore wes anderson cred nesciunt sapiente
                  ea proident.
                </p>
              </div> -->
            </div>
            <!-- <a href="#" class="btn btn-primary mr-3 my-2 about-us--btn">Contáctanos</a> -->
            <!-- <a href="#" class="btn btn-outline-dark ts-btn-border-muted my-2"
              >Get a Quote</a
            > -->
          </div>
        </div>
        <!--end col-md-6-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
    <!-- <div
      class="ts-background d-none d-sm-block"
      data-bg-color="#fafafa"
      data-bg-parallax1="scroll"
      data-bg-parallax-speed="3"
    >
      <div
        class="owl-carousel w-50 ts-push-left__100 h-100 ts-parallax-element1"
        data-owl-loop="1"
        data-owl-nav-container="#carousel-external-control"
      >
        <div
          class="ts-background-image"
          data-bg-image="assets/img/bg-finance-team.jpg"
        ></div>
        <div
          class="ts-background-image"
          data-bg-image="assets/img/bg-hand-mobile.jpg"
        ></div>
        <div
          class="ts-background-image"
          data-bg-image="assets/img/nosotros.png"
        ></div>
        <div
          class="ts-background-image"
          data-bg-image="assets/img/what-we-do.png"
        ></div>
      </div>
      end owl-carousel
    </div> -->
    <!--end ts-background-->
  </section>
  