<section id="how-it-works" class="ts-block ts-xs-text-center pb-5">
    <div class="container">
        <div class="ts-title">
            <h2 class="how_it_work--title">¿Como funciona?</h2>
        </div>
        <!--end ts-title-->
        <div class="row">
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">1</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-bubble.png" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body consulting">
                            <h4>Consultas con nosotros</h4>
                            <p>
                             Haz una consulta con nosotros y veras que operamos en los mercados internacionales por medio del análisis técnico y fundamental para generar rendimientos variables y significativos.
                            </p>
                            <p>Utilizamos herramientas comerciales y estrategias probadas para establecer límites de ganacias y administrar riesgos.</p>
                            <p>Contamos con la experiencia y la tecnología financiera más avanzada para detectar a corto y mediano plazo las oportunidade más rentables. Esto nos permite garantizar beneficios mesuales fijos hasta finalizar el período acordado.</p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.1s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">2</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-knobs.png" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body consulting">
                            <h4>Haz los 3 pasos con nosotros</h4>
                            <p> <strong>Regístrate:</strong> y logra acceder a nuestros grandiosos planes y a nuestro gran equipo.</p>
                            <p> <strong>Haz un Depósito:</strong> Hacer un deposito es el segundo paso para poder cambiar tu vida y trasnformar tu forma de vida.</p>
                            <p><strong>Recibe Ganancias:</strong> Es nuestro tercer paso, recibe y disfruta de tus ganancias cosa que podras lograr con nosotros</p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
            <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                <div class="ts-item" data-animate="ts-fadeInUp" data-delay="0.2s">
                    <div class="ts-item-content">
                        <div class="ts-item-header">
                            <figure class="icon">
                                <span class="step" data-animate="ts-zoomIn">3</span>
                                <div class="ts-circle__md" data-bg-color="#ebf1fe">
                                    <img src="assets/img/icon-heart.png" alt="">
                                </div>
                            </figure>
                            <!--end icon-->
                        </div>
                        <!--end ts-item-header-->
                        <div class="ts-item-body consulting">
                            <h4>Disfruta tu libertad financiera</h4>
                            <p>Disfrutar de la libertad financiera no tiene precio, para poder disfrutar de la familia y de las cosas buenas de la vida.</p>
                        </div>
                        <!--end ts-item-body-->
                    </div>
                    <!--end ts-item-content-->
                </div>
                <!--end ts-item-->
            </div>
            <!--end col-xl-4-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>