<nav
    class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element"
    data-bg-color="#141a3a"
  >
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <img
          src="ipv_capital/Mesadetrabajo1.png"
          class="logo-header"
          alt=""
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active ts-scroll" href="#page-top"
            >Inicio <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link ts-scroll" href="#how-it-works"
            >¿Como funciona?</a
          >
          <a class="nav-item nav-link ts-scroll" href="#about-us">Nosotros </a>
          <!-- <a class="nav-item nav-link ts-scroll" href="#successful-stories"
            >¿Como funciona?</a
          > -->
          <a class="nav-item nav-link ts-scroll" href="#pricing">Nuestros planes</a>
          <!-- <a class="nav-item nav-link ts-scroll" href="#our-team">Team</a> -->
          <a class="nav-item nav-link ts-scroll mr-2" href="#form-contact"
            >Inicia Sesion</a
          >
          <a
            class="ts-scroll btn btn-primary btn-sm m-1 px-3 ts-width__auto"
            href="#form-contact"
            >Registrate</a
          >
        </div>
      </div>
    </div>
  </nav>