

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="ts-block pr-3 about-us--content">
                    <div class="ts-title">
                        <h2 class="about-us--title">Planes de gestion</h2>
                    </div>
                    <!--end ts-title-->
                    <!-- <p class="about-us--texts">
                        Somos un equipo de traders independientes que gestiona inversiones
                        privadas, y se especializa en operar en los mercados financieros,
                        mercados de derivados y en cripto activos de altísima liquidez.
                        Implementamos sistemas de estrategias múltiples que garantizan una
                        rentabilidad fija y segura. Brindamos una solución práctica para
                        personas decididas a tomar las riendas de sus finanzas personales,
                        equilibrar su economía y conseguir la paz financiera.
                    </p> -->
                    <div class="list-group list-group-flush mb-5">
                        <a href="#collapsenivel1"
                            class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent about-us--title"
                            data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsenivel1">Nivel 1</a>
                        <div class="collapse" id="collapsenivel1">
                            <div class="col-sm-4 col-lg-4">
                                <div class="card text-center ts-price-box content-plains" data-animate="ts-fadeInUp">
                                    <div class="card-header p-0">
                                        <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Nivel 1</h5>
                                        <div class="ts-title py-5 mb-0">
                                            <div class="d-flex justify-content-center mb-2">
                                                <h3 class="mb-0 font-weight-normal content-plains--sub-tittle">
                                                    5%
                                                </h3>
                                                <small class="ts-opacity__25 content-plains--sub-text">Mensual</small>
                                            </div>
                                            <h3 class="mb-0 font-weight-normal">Interés Simple</h3>
                                            <!-- <small class="ts-opacity__25">Mensual</small> -->
                                        </div>
                                    </div>
                
                                    <div class="card-body p-0">
                                        <ul class="list-unstyled ts-list-divided content-plains--list">
                                            <li>500 - 1,999 USD</li>
                                            <li>Pagos cada 30 Dias</li>
                                            <li>Devolucion de los activos</li>
                                            <li>Planes a 12 meses</li>
                                            <!-- <li>Acuerdo de garantía</li>
                                            <li>5 Planes máximos</li>
                                            <li>Depósitos y retiros en USDT</li> -->
                                        </ul>
                                    </div>
                
                                    <div class="card-footer bg-transparent pt-0 ts-border-none">
                                        <a href="/sign-up" class="btn btn-primary">Abrir Cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#collapsenivel2"
                            class="list-group-item list-group-item-action border-top-0 pl-0 font-weight-bold bg-transparent about-us--title"
                            data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapsenivel2">Nivel 2</a>
                        <div class="collapse" id="collapsenivel2">  
                            <div class="col-sm-4 col-lg-4">
                                <div class="card text-center ts-price-box content-plains" data-animate="ts-fadeInUp">
                                    <div class="card-header p-0">
                                        <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Nivel 2</h5>
                                        <div class="ts-title py-5 mb-0">
                                            <div class="d-flex justify-content-center mb-2">
                                                <h3 class="mb-0 font-weight-normal content-plains--sub-tittle">
                                                    10%
                                                </h3>
                                                <small class="ts-opacity__25 content-plains--sub-text">Mensual</small>
                                            </div>
                                            <h3 class="mb-0 font-weight-normal">Interés Simple</h3>
                                            <!-- <small class="ts-opacity__25">Mensual</small> -->
                                        </div>
                                    </div>
                
                                    <div class="card-body p-0">
                                        <ul class="list-unstyled ts-list-divided content-plains--list">
                                            <li>2,000 - 50,000 USD</li>
                                            <li>Pagos cada 30 Dias</li>
                                            <li>Devolucion de los activos</li>
                                            <li>Planes a 12 meses</li>
                                            <!-- <li>Contrato 6 a 12 Mensuales</li>
                                            <li>Acuerdo de garantía</li>
                                            <li>5 Planes máximos</li>
                                            <li>Depósitos y retiros en USDT</li> -->
                                        </ul>
                                    </div>
                
                                    <div class="card-footer bg-transparent pt-0 ts-border-none">
                                        <a href="/sign-up" class="btn btn-primary">Abrir Cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-primary mr-3 my-2 about-us--btn">Contáctanos</a> -->
                    <!-- <a href="#" class="btn btn-outline-dark ts-btn-border-muted my-2"
              >Get a Quote</a
            > -->
                </div>
            </div>
            <!--end col-md-6-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->

    <!--end ts-background-->
</section>