<section id="pricing" class="ts-block" data-bg-color="#f7f7f7">
    <div class="container">
        <div class="ts-title text-center">
            <h2>Nuestros planes</h2>
        </div>
        <!--end ts-title-->
        <div class="row no-gutters ts-cards-same-height">
            <div class="col-sm-4 col-lg-4">
                <div class="card text-center ts-price-box" data-animate="ts-fadeInUp">
                    <div class="card-header p-0">
                        <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Basico</h5>
                        <div class="ts-title py-5 mb-0">
                            <div class="d-flex justify-content-center mb-2">
                                <h3 class="mb-0 font-weight-normal">3%</h3>
                                <small class="ts-opacity__25">Mensual</small> 
                            </div>
                            <h3 class="mb-0 font-weight-normal">Interes Simple</h3>
                            <!-- <small class="ts-opacity__25">Mensual</small> -->
                        </div>
                    </div>
                    
                    <div class="card-body p-0">
                        <ul class="list-unstyled ts-list-divided">
                            <li>500 - 1000 USD</li>
                            <li>Retiros Mensual</li>
                            <li>Devolucione del Capital</li>
                            <li>Contrato 6 a 12 Mensuales</li>
                            <li>Acuerdo de garantia.</li>
                            <li>5 Planes maximos</li>
                            <li>Depositos y retiros en USDT.</li>
                           
                        </ul>
                      
                    </div>
                 
                    <div class="card-footer bg-transparent pt-0 ts-border-none">
                        <a href="/sign-up" class="btn btn-primary">Abrir Cuenta</a>
                    </div>
                </div>
               
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="card text-center ts-price-box" data-animate="ts-fadeInUp">
                    <div class="card-header p-0">
                        <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Estandar</h5>
                        <div class="ts-title py-5 mb-0">
                            <div class="d-flex justify-content-center mb-2">
                                <h3 class="mb-0 font-weight-normal">3%</h3>
                                <small class="ts-opacity__25">Mensual</small> 
                            </div>
                            <h3 class="mb-0 font-weight-normal">Interes Simple</h3>
                            <!-- <small class="ts-opacity__25">Mensual</small> -->
                        </div>
                    </div>
                    
                    <div class="card-body p-0">
                        <ul class="list-unstyled ts-list-divided">
                            <li>2000 - 20,000 USD</li>
                            <li>Retiros Mensual</li>
                            <li>Devolucione del Capital</li>
                            <li>Contrato a 12 Mensuales</li>
                            <li>Acuerdo de garantia.</li>
                            <li>3 Planes maximos</li>
                            <li>Depositos y retiros en USDT.</li>
                           
                        </ul>
                      
                    </div>
                 
                    <div class="card-footer bg-transparent pt-0 ts-border-none">
                        <a href="/sign-up" class="btn btn-primary">Abrir Cuenta</a>
                    </div>
                </div>
               
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="card text-center ts-price-box" data-animate="ts-fadeInUp">
                    <div class="card-header p-0">
                        <h5 class="mb-0 py-3 text-white" data-bg-color="#1b3874">Avanzado</h5>
                        <div class="ts-title py-5 mb-0">
                            <div class="d-flex justify-content-center mb-2">
                                <h3 class="mb-0 font-weight-normal">3%</h3>
                                <small class="ts-opacity__25">Mensual</small> 
                            </div>
                            <h3 class="mb-0 font-weight-normal">Interes Simple</h3>
                            <!-- <small class="ts-opacity__25">Mensual</small> -->
                        </div>
                    </div>
                    
                    <div class="card-body p-0">
                        <ul class="list-unstyled ts-list-divided">
                            <li>5000 - 50,000 USD</li>
                            <li>Retiros Mensual</li>
                            <li>Devolucione del Capital</li>
                            <li>Contrato a 12 Mensuales</li>
                            <li>Acuerdo de garantia.</li>
                            <li>2 Planes maximos</li>
                            <li>Depositos y retiros en USDT.</li>
                           
                        </ul>
                      
                    </div>
                 
                    <div class="card-footer bg-transparent pt-0 ts-border-none">
                        <a href="/sign-up" class="btn btn-primary">Abrir Cuenta</a>
                    </div>
                </div>
               
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>