<section class="text-center my-5 py-5 public">
    <div content="ts-title mb-5 " class="public-content">
      <h3 class="mb-1">EMPIEZA HOY</h3>
      <h5 class="font-weight-normal ts-opacity__50 mb-5">
        Multiplica tus activos automáticamente con IPV CAPITAL en el mercado digital. Abre una cuenta en minutos, deposita desde $500 USD y disfruta de un crecimiento acelerado en tu inversión.
      </h5>

      <!-- <a
      href="#"
      class="btn btn-outline-primary btn-lg border-0"
      data-bg-color="#fff"
      style="color:#012169"
      >Empezar ahora</a
    > -->
    </div>
   
  </section>
  