<section class="text-center my-5 py-5 public ">
    <div content="ts-title mb-5 " class="public-content stepts">
      <h3 class="mb-1 new_size_title" style="text-transform: uppercase;">Haga crecer sus activos en <br> 3 sencillos pasos</h3>
      <ul class="public-list-steps">
        <li class="public-list-steps--element">
            <div class="public-list-steps--element--content">
                <p class="public-list-steps--element-number">1</p>
            </div>
            <p class="public-list-steps--element-text">Crear una cuenta</p>
        </li>
        <li class="public-list-steps--element">
            <div class="public-list-steps--element--content">
                <p class="public-list-steps--element-number">2</p>
            </div>
           
            <p class="public-list-steps--element-text">Hacer un depÓsito</p>
        </li>
        <li class="public-list-steps--element">
            <div class="public-list-steps--element--content">
                <p class="public-list-steps--element-number">3</p>
            </div>
            
            <p class="public-list-steps--element-text">Obtener ganancias</p>
        </li>
      </ul>

      <a
      href="/sign-up"
      class="btn btn-outline-primary btn-lg border-0"
      data-bg-color="#fff"
      style="color:#012169"
      >Quiero Empezar</a
    >
    </div>
   
  </section>
  