<section class="text-center my-5 py-5 public">
    <div content="ts-title mb-5 " class="public-content">
      <h3 class="mb-4">DEPÓSITOS Y RETIROS</h3>
  
      <h5 class="ont-weight-normal ts-opacity__50 mb-5">Para las transferencias de depósito o retiros utilizamos monederos electrónicos sin ninguna comision de por medio. El activo a utilizar es USTD$ en la red TRC-20 de Tron equivalente a dólares de los estados unidos de NorteAmérica.</h5>
    </div>
   
  </section>
  