<section class="text-center my-5 py-5 reti">
    <div content="ts-title mb-5 " class="public-content">
      <h3 class="mb-1">DEPÓSITOS Y RETIROS</h3>
      <h5 class="font-weight-normal ts-opacity__50 mb-5" style="text-transform: lowercase;">
        PARA LAS TRANSFERENCIAS DE DEPÓSITOS O RETIROS UTILIZAMOS MONEDEROS ELECTRÓNICOS SIN NINGUNA COMISIÓN DE POR MEDIO. EL ACTIVO A UTILIZAR ES <span> USDT$</span> EN LA RED <span>TRC-20 DE TRON</span> 
EQUIVALENTE A DÓLARES DE LOS ESTADOS UNIDOS DE NORTEAMÉRICA.
      </h5>
    </div>
   
  </section>
  