<div class="container-fluid pt-3">
  <div class="row removable">
    <div class="col-xl-3 col-sm-6">
      <div class="card bg-gradient-dark mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p
                  class="text-sm mb-0 text-capitalize text-white font-weight-bold"
                >
                  Inversion Total
                </p>
                <h5 class="font-weight-bolder text-white mb-0">
                  $53,000
                  <!-- <span class="text-success text-sm font-weight-bolder">+55%</span> -->
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
              >
                <i
                  class="ni ni-money-coins text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card bg-gradient-dark mb-4">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p
                  class="text-sm mb-0 text-capitalize text-white font-weight-bold"
                >
                  Ganancias Mensuales
                </p>
                <h5 class="font-weight-bolder text-white mb-0">
                  2,300
                  <!-- <span class="text-success text-sm font-weight-bolder">+3%</span> -->
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
              >
                <i
                  class="ni ni-world text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <!-- <div class="card bg-gradient-dark mb-4">
              <div class="card-body p-3">
                  <div class="row">
                      <div class="col-8">
                          <div class="numbers">
                              <p class="text-sm mb-0 text-capitalize text-white font-weight-bold">Metodos de pago</p>
                              <h5 class="font-weight-bolder text-white mb-0"></h5>
                          </div>
                      </div>
                      <div class="col-4 text-end">
                          <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                              <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
      <button
        type="button"
        class="btn bg-gradient-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Hacer un deposito
      </button>
      <button
        type="button"
        class="btn bg-gradient-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModa2"
      >
        Retiro
      </button>
    </div>
    <!--  <div class="col-xl-3 col-sm-6">
          <div class="card bg-gradient-dark mb-4">
              <div class="card-body p-3">
                  <div class="row">
                      <div class="col-8">
                          <div class="numbers">
                              <p class="text-sm mb-0 text-capitalize text-white font-weight-bold">Sales</p>
                              <h5 class="font-weight-bolder text-white mb-0">
                                  $103,430
                                  <span class="text-success text-sm font-weight-bolder">+5%</span>
                              </h5>
                          </div>
                      </div>
                      <div class="col-4 text-end">
                          <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
  <div class="row mt-4 removable">
    <div class="col-lg-8 col-md-6">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Metricas de ganancias</h6>
          <p class="text-sm">
            <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
            <span class="font-weight-bold">4% </span>de ganancias en el <%= new
            Date().getFullYear() %>
          </p>
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas
              id="chart-line"
              class="chart-canvas chartjs-render-monitor"
              height="300"
              width="821"
              style="
                display: block;
                height: 300px;
                width: 821px;
                box-sizing: border-box;
              "
            ></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 mb-4">
        <div class="card-header pb-0 px-3">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-0">Ultimas transaciones</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
              <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
              <small>23 - 30 March 2020</small>
            </div>
          </div>
        </div>
        <div class="card-body pt-4 p-3">
          <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">
            Newest
          </h6>
          <ul class="list-group">
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-arrow-down" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Netflix</h6>
                  <span class="text-xs">27 March 2020, at 12:30 PM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold"
              >
                - $ 2,500
              </div>
            </li>
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Apple</h6>
                  <span class="text-xs">27 March 2020, at 04:30 AM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold"
              >
                + $ 2,000
              </div>
            </li>
          </ul>
          <h6 class="text-uppercase text-body text-xs font-weight-bolder my-3">
            Yesterday
          </h6>
          <ul class="list-group">
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Stripe</h6>
                  <span class="text-xs">26 March 2020, at 13:45 PM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold"
              >
                + $ 750
              </div>
            </li>
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">HubSpot</h6>
                  <span class="text-xs">26 March 2020, at 12:30 PM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold"
              >
                + $ 1,000
              </div>
            </li>
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-arrow-up" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Creative Tim</h6>
                  <span class="text-xs">26 March 2020, at 08:30 AM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold"
              >
                + $ 2,500
              </div>
            </li>
            <li
              class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg"
            >
              <div class="d-flex align-items-center">
                <button
                  class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                >
                  <i class="fas fa-exclamation" aria-hidden="true"></i>
                </button>
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-dark text-sm">Webflow</h6>
                  <span class="text-xs">26 March 2020, at 05:00 AM</span>
                </div>
              </div>
              <div
                class="d-flex align-items-center text-dark text-sm font-weight-bold"
              >
                Pending
              </div>
            </li>
          </ul>
        </div>
        <a href="/trasaciones" class="btn bg-gradient-primary mb-4">
          Ver transaciones
        </a>
      </div>
    </div>
  </div>

  <div class="card p-3 mb-4">
    <div
      class="overflow-hidden position-relative border-radius-lg bg-cover h-100"
      style="
        background-image: url(https://demos.creative-tim.com/soft-ui-dashboard/assets/img/ivancik.jpg);
      "
    >
      <span class="mask bg-gradient-dark"></span>
      <div
        class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3"
      >
        <h5 class="text-white font-weight-bolder mb-4 pt-2">
          Crece economicamente con nosotros
        </h5>
        <p class="text-white">Disfruta de la liberetad economica.</p>
        <!-- <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                  Read More
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a> -->
      </div>
    </div>
  </div>
  
  <a href="/verification-account" class="btn bg-gradient-primary mb-4">
    Activar cuenta
    <i class="ni ni-lock-circle-open"></i>
  </a>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo pago</h5>
          <button
            type="button"
            class="btn-close text-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="title text-center">
            Por favor Agregue confirmacion de transacion
          </h3>

          <div class="passport">
            <h4>Codigo de transacion <br />Hash de transacion.</h4>
            <a href="#" class="don_icon"><i class="ion-android-done"></i></a>
          </div>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="upload" />
              <label class="custom-file-label" for="upload"
                ><i class="ion-android-cloud-outline"></i>Agrega el hah</label
              >
            </div>
          </div>
          <h3 class="text-center">o</h3>
          <button type="button" class="next action-button">Continuar</button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn bg-gradient-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn bg-gradient-primary"
            onclick="sendPay()"
          >
            Realizar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModa2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Solicitar retiro</h5>
          <button
            type="button"
            class="btn-close text-dark"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn bg-gradient-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button
            type="button"
            class="btn bg-gradient-primary"
            onclick="getPay()"
          >
            Solicitar
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Solicitar retiro
    const sendPay = () => {
      Swal.fire(
        "Se ha enviado el pago!",
        "Gracias por su confianza",
        "success"
      );
    };

    // Solicitar retiro
    const getPay = () => {
      Swal.fire({
        title: "¿Esta seguro/a?",
        text: "Con esto se hara un peticion para retirar el dinero",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        cancelButtonText: "Cancelar",
        confirmButtonText: "Si, retirar!",
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            "Retiro solicitado!",
            "Se ha solicitado la cantidad de seada para retiro.",
            "success"
          );
        }
      });
    };
  </script>
</div>
