<div class="row iq-star-inserted row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4 mt-4 text-center">
    <div class="col iq-star-inserted-1">
       <div class="card my-5">
          <div class="card-body">
             <h2 class="my-0 fw-normal mb-4">Basico</h2>
             <h1 class="card-title pricing-card-title mb-0">10% <small class="text-secondary"> Mensual</small></h1>
             <!-- <p class="mb-0">billed yearly</p>
             <p>$79.9 billed monthly</p> -->
             <ul class="list-unstyled my-3 p-0">
                <li><p>500 - 1000 USD.</p></li>
                <li><p>Retiros Mensuales.</p></li>
                <li><p>Devolucion del Capital.</p></li>
                <li><p>Contrato a 12 meses.</p></li>
                <li><p>Acuerdo de Garantia.</p></li>
                <li><p>5 Planes maximos.</p></li>
                <li><p>Depositos y retiros en USDT.</p></li>
             </ul>
             <button type="button" class="btn btn-primary rounded-pill w-100">Elegir plan</button>
          </div>
       </div>
    </div>
    <div class="col iq-star-inserted-2">
       <div class="card mb-0 shadow-lg">
          <div class="card-body">
             <!-- <h2><span class="badge rounded-pill bg-soft-primary mb-4"><small class="text-uppercase px-3">Popular</small></span></h2> -->
             <h2 class="my-0 fw-normal mb-4">Estandar</h2>
             <h1 class="card-title pricing-card-title mb-0">11%<small class="text-secondary"> Mensual</small></h1>
             <!-- <p class="mb-0">billed yearly</p>
             <p>$55.0 billed monthly</p> -->
             <ul class="list-unstyled my-3 p-0">
                <li><p>2,000 - 20,000 USD.</p></li>
                <li><p>Retiros Trimestrales.</p></li>
                <li><p>Devolucion del Capital.</p></li>
                <li><p>Contrato a 12 meses.</p></li>
                <li><p>Acuerdo de Garantia.</p></li>
                <li><p>3 Planes maximos.</p></li>
                <li><p>Depositos y retiros en USDT.</p></li>
             </ul>
             <button type="button" class="btn btn-primary rounded-pill w-100">Elegir plan</button>
          </div>
       </div>
    </div>
    <div class="col iq-star-inserted-3">
       <div class="card my-5">
          <div class="card-body">
             <h2 class="my-0 fw-normal mb-4">Avanzado</h2>
             <h1 class="card-title pricing-card-title mb-0">12% <small class="text-secondary"> Mensuales</small></h1>
             <!-- <p class="mb-0">billed yearly</p>
             <p>$99.9 billed monthly</p> -->
             <ul class="list-unstyled my-3 p-0">
                <li><p>5,000 - 50,000 USD.</p></li>
                <li><p>Retiros Trimestrales.</p></li>
                <li><p>Devolucion del Capital.</p></li>
                <li><p>Contrato a 12 meses.</p></li>
                <li><p>Acuerdo de Garantia.</p></li>
                <li><p>2 Planes maximos.</p></li>
                <li><p>Depositos y retiros en USDT.</p></li>
             </ul>
             <button type="button" class="btn btn-primary rounded-pill w-100">Elegir plan</button>
          </div>
       </div>
    </div>
 </div>
<div class="row d-flex justify-content-between">
    <div class="card col-7">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
              <h4 class="card-title">Planes activos</h4>
           </div>
        </div>
        <div class="card-body p-0">
           <div class="table-responsive mt-4">
              <table id="basic-table" class="table table-striped mb-0" role="grid">
                 <thead>
                    <tr>
                       <th>Plan</th>
                       <th>Inversion</th>
                       <th>Estado</th>
                       <th>Completo</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>
                          <div class="d-flex align-items-center">
                            
                             <h6>Soft UI XD Version</h6>
                          </div>
                       </td>
                     
                       <td>$14000</td>
                       <td><div class="badge bg-soft-primary p-2 text-primary">Pending</div></td>
                       <td>
                          <div class="d-flex align-items-center mb-2">
                             <h6>60%</h6>
                          </div>
                          <div class="progress bg-soft-info shadow-none w-100" style="height: 6px">
                             <div class="progress-bar bg-info" data-toggle="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; transition: width 2s ease 0s;"></div>
                          </div>
                       </td>
                    </tr>
                   
                 </tbody>
              </table>
           </div>
        </div>
     </div>
     <div class="card col-4">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
              <h4 class="card-title">Historial de transaciones</h4>
           </div>
        </div>
        <div class="card-body">
            <div class="fancy-table table-responsive rounded">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Estado</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    
                                    <div class="media-support-info">
                                    <h5 class="iq-sub-label">$500</h5>
                            
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-soft-primary p-2 text-primary">Active</span>
                            </td>
                          
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    
                                    <div class="media-support-info">
                                    <h5 class="iq-sub-label">$200</h5>
                                 
                                    </div>
                                </div>
                            </td>
                        
                            <td>
                                <span class="badge bg-soft-warning p-2 text-warning">Pending</span>
                            </td>
                            
                        </tr>
                      
                    </tbody>
                </table>
            </div>
       </div>
     </div>
</div>
