


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
             <h5 class="mb-0">Lista de referidos</h5>
            </div>
            <div class="card-body px-0">
                 <div class="table-left-bordered table-responsive mt-3">
                     <table class="table mb-0" id="datatable" data-toggle="data-table">
                         <thead>
                             <tr class="bg-white">
                                 <th scope="col">Nombre</th>
                                 <th scope="col">Numero Telefonico</th>
                                 <th scope="col">Email</th>
                                 <th scope="col">Bonos</th>
                             </tr>
                         </thead>
                         <tbody>

                            <% usuarios_referidos.forEach(function(referido){ %>

                             <tr>
                                 <td>
                                     <div class="d-flex align-items-center">    
                                         <div class="media-support-info">
                                         <h5 class="iq-sub-label"><%= referido.nombre %></h5>               
                                         </div>
                                     </div>
                                 </td>
                                 <td class="text-dark"><%= referido.telefono %></td>
                                 <td class="text-dark"><%= referido.email %></td>
                                 <td class="text-dark"><button onclick="MostrarCapital('<%= referido.user_id %>')" class="btn btn-primary">Ver Bono</button></td>

                               
                             </tr>
                    
                             <% }); %>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

 <script>

    function MostrarCapital(id){
    
        let query = `/get_capital_referido/${id}`;

        axios.get(query)
        .then(function (response) {
            let {ganancia} = response.data;
            Swal.fire(`$${ganancia}`)
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .finally(function () {
            // always executed
        });


    }



 </script>