<div class="col-lg-12">
    <div class="card">
         <div class="card-body">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
               <div class="d-flex flex-wrap align-items-center">
                  <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                     <h4 class="me-2 h4">Darvin Rodriguez</h4>
                  </div>
               </div>
               <ul class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab" id="profile-pills-tab" role="tablist">

                  <li class="nav-item">
                     <a class="nav-link active show" data-bs-toggle="tab" href="#profile-profile" role="tab" aria-selected="false">Profile</a>
                  </li>
                  <button type="button" class="nav-link " data-bs-toggle="modal" data-bs-target="#reset-pass">
                    Actualizar Contrase単a
                </button>
               </ul>
               
            </div>
         </div>
    </div>
 </div>

 <div id="profile-profile" class="tab-pane fade active show">
    <div class="card">
       <div class="card-header">
          <div class="header-title">
             <h4 class="card-title">Mi perfil</h4>
          </div>
       </div>
       <div class="card-body">
       
          <div class="user-bio">
            <h6 class="mb-1">Nombre:</h6>
            <p>Darvin Emil Rodriguez</p>
          </div>
          <div class="mt-2">
          <h6 class="mb-1">Creado:</h6>
          <p>Febrero 15, 2021</p>
          </div>
          <div class="mt-2">
          <h6 class="mb-1">Pais:</h6>
          <p>United States of America</p>
          </div>
          <!-- <div class="mt-2">
          <h6 class="mb-1">Telefono:</h6>
          <p>809 000-0000</p>
          </div> -->
          <div class="mt-2">
          <h6 class="mb-1">Correo Electronico:</h6>
          <p><a href="#" class="text-body"> austin@gmail.com</a></p>
          </div>
          <div class="mt-2">
          <h6 class="mb-1">Numero telefonico:</h6>
          <p><a href="#" class="text-body">(001) 4544 565 456</a></p>
          </div>
          <div class="mt-2 d-flex justify-content-between">
            <div class="mb-2">
                <h6 class="mb-1">Cuenta bancaria o monedero:</h6>
                <p><a href="#" class="text-body">sde23242424</a></p>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDefault">
                Agregar monedero
            </button>
          </div>
       </div>
    </div>
 </div>

 <div class="modal fade" id="exampleModalDefault" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega un monedero</h5>
                <p>Puedes agregar cuenta bancario o monedero virtual</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="card mb-3">
                    <h4 class="title">Cuenta bancaria</h4>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDefault1">
                        Agregar Cuenta bancaria
                    </button>
                </div>
                <h1 class="title">o</h1>
                <div class="card mb-3">
                    <h4 class="title">Monedero</h4>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalDefault2">
                        Agregar monedero
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
               
            </div>
        </div>
    </div>
</div>

<!-- Modal cuenta bancaria -->
 <div class="modal fade" id="exampleModalDefault1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega una cuenta bancaria</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Basic Form</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="text-center">
                            <div class="form-group">
                                <label class="form-label" for="email1101">Agrega la cuenta:</label>
                                <input type="text" class="form-control" id="email1101">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email1101">Tipo de cuenta:</label>
                                <input type="text" class="form-control" id="email1101">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email1101">banco:</label>
                                <input type="text" class="form-control" id="email1101">
                            </div>
                            <h2 class="title">o</h2>
                            <div class="form-group">
                                <label for="customFile1" class="form-label custom-file-input">Elige una imagen</label>
                                <input class="form-control" type="file" id="customFile1">
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
<!-- Modal Monedero -->
 <div class="modal fade" id="exampleModalDefault2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title" id="exampleModalLabel">Agrega un monedero</h5>
                <!-- <p></p> -->
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agrega el hash de tu monedero</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="text-center">
                           
                            <div class="form-group">
                                <label class="form-label" for="email1101">Hash de monedero:</label>
                                <input type="text" class="form-control" id="email1101">
                            </div>
                            <h2 class="title">o</h2>
                            <div class="form-group">
                                <label for="customFile1" class="form-label custom-file-input">Elige una imagen</label>
                                <input class="form-control" type="file" id="customFile1">
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
 <div class="modal fade" id="reset-pass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex flex-column">
                    <h5 class="modal-title" id="exampleModalLabel">Actualiza la la password</h5>
                <!-- <p></p> -->
                </div>
            </div>
            <div class="modal-body">
                <div class="card">
                   
                    <div class="card-body">
                        <form class="text-center">
                           
                            <div class="form-group">
                                <label class="form-label" for="exampleInputPassword3">Contrase単a actual</label>
                                <input type="password" class="form-control" id="exampleInputPassword3" required  placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputPassword3">Contrase単a nueva</label>
                                <input type="password" class="form-control" id="exampleInputPassword3" required  placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputPassword3">Repetir contrase単a</label>
                                <input type="password" class="form-control" id="exampleInputPassword3" required  placeholder="Enter Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>