<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title
      data-setting="app_name"
      data-rightjoin=" Pro | Responsive Bootstrap 5 Admin Dashboard Template"
    >
     Register || Ipv capital
    </title>
    <meta
      name="description"
      content="Hope UI Pro is a revolutionary Bootstrap Admin Dashboard Template and UI Components Library. The Admin Dashboard Template and UI Component features 8 modules."
    />
    <meta
      name="keywords"
      content="premium, admin, dashboard, template, bootstrap 5, clean ui, hope ui, admin dashboard,responsive dashboard, optimized dashboard, simple auth"
    />
    <meta name="author" content="Iqonic Design" />
    <meta
      name="DC.title"
      content="Hope UI Pro Simple | Responsive Bootstrap 5 Admin Dashboard Template"
    />
    <!-- Google Font Api KEY-->
    <meta
      name="google_font_api"
      content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k"
    />
    <!-- Config Options -->
    <meta
      name="setting_options"
      content="{&quot;saveLocal&quot;:&quot;sessionStorage&quot;,&quot;storeKey&quot;:&quot;huisetting-html&quot;,&quot;setting&quot;:{&quot;app_name&quot;:{&quot;value&quot;:&quot;Hope UI&quot;},&quot;theme_scheme_direction&quot;:{&quot;value&quot;:&quot;ltr&quot;},&quot;theme_scheme&quot;:{&quot;value&quot;:&quot;light&quot;},&quot;theme_style_appearance&quot;:{&quot;value&quot;:[&quot;theme-default&quot;]},&quot;theme_color&quot;:{&quot;colors&quot;:{&quot;--{{
        prefix
      }}primary&quot;:&quot;#3a57e8&quot;,&quot;--{{
        prefix
      }}info&quot;:&quot;#08B1BA&quot;},&quot;value&quot;:&quot;theme-color-default&quot;},&quot;theme_transition&quot;:{&quot;value&quot;:&quot;theme-with-animation&quot;},&quot;theme_font_size&quot;:{&quot;value&quot;:&quot;theme-fs-md&quot;},&quot;page_layout&quot;:{&quot;value&quot;:&quot;container-fluid&quot;},&quot;header_navbar&quot;:{&quot;value&quot;:&quot;default&quot;},&quot;header_banner&quot;:{&quot;value&quot;:&quot;default&quot;},&quot;sidebar_color&quot;:{&quot;value&quot;:&quot;sidebar-white&quot;},&quot;card_color&quot;:{&quot;value&quot;:&quot;card-default&quot;},&quot;sidebar_type&quot;:{&quot;value&quot;:[]},&quot;sidebar_menu_style&quot;:{&quot;value&quot;:&quot;left-bordered&quot;},&quot;footer&quot;:{&quot;value&quot;:&quot;default&quot;},&quot;body_font_family&quot;:{&quot;value&quot;:null},&quot;heading_font_family&quot;:{&quot;value&quot;:null}}}"
    />

    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/admin/images/favicon.ico" />

    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/static/admin/css/core/libs.min.css" />

    <!-- Hope Ui Design System Css -->
    <link rel="stylesheet" href="/static/admin/css/hope-ui.min.css?v=2.2.0" />
    <link rel="stylesheet" href="/static/admin/css/pro.min.css?v=2.2.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/admin/css/custom.min.css?v=2.2.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="/static/admin/css/dark.min.css?v=2.2.0" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="/static/admin/css/customizer.min.css?v=2.2.0" />

    <!-- RTL Css -->
    <link rel="stylesheet" href="/static/admin/css/rtl.min.css?v=2.2.0" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="../../../../../css2?family=Inter:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
        <div class="loader-body">
          <img
            src="/static/admin/images/loader.webp"
            alt="loader"
            class="light-loader img-fluid w-25"
            width="200"
            height="200"
          />
        </div>
      </div>
    </div>
    <!-- loader END -->
    <div class="wrapper">
      <div class="iq-auth-page">
        <nav class="navbar iq-auth-logo">
            <div class="container-fluid">
                <a href="/" class="iq-link d-flex align-items-center">
                  <img
                    src="ipv_capital/IPVCapital-Logosecundario.PNG"
                    alt="logo"
                    style="width: 100px;"
                    loading="lazy"
                  />
                  <!-- <h4  class="mb-0">IPV CAPITAL</h4> -->
                </a>
              </div>
        </nav>
        <div class="iq-banner-logo d-none d-lg-block">
          <!-- <img
            class="auth-image"
           
            alt="logo-img"
            loading="lazy"
          /> -->
        </div>
        <div class="container-inside">
          <div class="main-circle circle-small"></div>
          <div class="main-circle circle-medium"></div>
          <div class="main-circle circle-large"></div>
          <div class="main-circle circle-xlarge"></div>
          <div class="main-circle circle-xxlarge"></div>
        </div>
        <div class="row d-flex align-items-center iq-auth-container w-100">
          <div class="col-10 col-lg-4 offset-lg-7 offset-1">
            <div class="card">
              <div class="card-body">
                <form action="/register" method="post">
                  <div class="mb-3">
                    <h3 class="text-center">REGISTRO</h3>
                    <!-- <p class="text-center">Create your Hope UI account</p> -->
                  </div>
  
                  <div class="row d-flex justify-content-between">
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="firstName">Nombre</label>
                      <input
                        type="text"
                        class="form-control mb-0"
                        id="firstName"
                        name="Name"
                        placeholder="Nombre"
                      />
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="lastname">Apellido</label>
                      <input
                        type="text"
                        class="form-control mb-0"
                        id="lastname"
                        name="lastName"
                        placeholder="Apellido"
                      />
                    </div>
                  </div>
                  <div class="row d-flex justify-content-between">
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="Emailid">Correo Electrónico</label>
                      <input
                        type="email"
                        class="form-control mb-0"
                        id="Emailid"
                        name="email"
                        placeholder="email@email.com"
                      />
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="Phone_NO">Número de teléfono</label>
                      <input
                        type="text"
                        class="form-control mb-0"
                        id="Phone_NO"
                        name="telefono"
                        placeholder="+1 (000) 000-0000"
                      />
                    </div>
                  </div>
                  <div class="row d-flex justify-content-between">
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="firstPassword"
                        >Contraseña</label
                      >
                      <input
                        type="password"
                        class="form-control mb-0"
                        id="firstPassword"
                        name="password"
                        placeholder="***********"
                      />
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                      <label class="form-label" for="ConfirmPAssword"
                        >Confirmar Contraseña</label
                      >
                      <input
                        type="password"
                        class="form-control mb-0"
                        id="ConfirmPAssword"
                        name="ConfirmPAssword"
                        placeholder="************"
                      />
                    </div>
                  </div>
                  <!-- <div class="text-center pb-3">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="aggrement-hopeui"
                      required
                    />
                    <label class="form-check-label" for="aggrement-hopeui"
                      >Estoy de acuerdo con los terminos y condiciones</label
                    > -->
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="text-center pb-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" >
                        <label class="form-check-label" for="disabledFieldsetCheck">
                          <a href="#" id="termsLink">Términos y Condiciones</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  
                 
                  <div class="text-center pb-3">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                  </div>
                 
                  <p class="text-center">
                    Si tienes una cuenta <a href="/login" class="ms-2"
                      >Iniciar Sesión</a
                    >
                  </p>
                </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal" id="terminos_Condiciones" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Título del Modal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-body-scrollable">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id congue felis. Suspendisse ultrices tortor sed sapien vestibulum, in sollicitudin quam venenatis. Donec sit amet nisi nibh. Aliquam erat volutpat. In mattis luctus purus, in varius erat malesuada non. Fusce tempor diam nec augue gravida, vitae malesuada ex vestibulum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id congue felis. Suspendisse ultrices tortor sed sapien vestibulum, in sollicitudin quam venenatis. Donec sit amet nisi nibh. Aliquam erat volutpat. In mattis luctus purus, in varius erat malesuada non. Fusce tempor diam nec augue gravida, vitae malesuada ex vestibulum.</p>
              <!-- Añade más contenido si es necesario -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Library Bundle Script -->
    <script src="/static/admin/js/core/libs.min.js"></script>
    <!-- Plugin Scripts -->

    <!-- Slider-tab Script -->
    <script src="/static/admin/js/plugins/slider-tabs.js"></script>

    <!-- Lodash Utility -->
    <script src="/static/admin/vendor/lodash/lodash.min.js"></script>
    <!-- Utilities Functions -->
    <script src="/static/admin/js/iqonic-script/utility.min.js"></script>
    <!-- Settings Script -->
    <script src="/static/admin/js/iqonic-script/setting.min.js"></script>
    <!-- Settings Init Script -->
    <script src="/static/admin/js/setting-init.js"></script>
    <!-- External Library Bundle Script -->
    <script src="/static/admin/js/core/external.min.js"></script>
    <!-- Widgetchart Script -->
    <script
      src="/static/admin/js/charts/widgetcharts.js?v=2.2.0"
      defer=""
    ></script>
    <!-- Dashboard Script -->
    <script src="/static/admin/js/charts/dashboard.js?v=2.2.0" defer=""></script>
    <script
      src="/static/admin/js/charts/alternate-dashboard.js?v=2.2.0"
      defer=""
    ></script>
    <!-- Hopeui Script -->
    <script src="/static/admin/js/hope-ui.js?v=2.2.0" defer=""></script>
    <script src="/static/admin/js/hope-uipro.js?v=2.2.0" defer=""></script>
    <script src="/static/admin/js/sidebar.js?v=2.2.0" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // const
    </script>
  </body>
</html>
