<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Multi Step Form with Progress Bar Example</title>
    <!-- Normalize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <!-- Bootstrap 4 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css"
    />
    <!-- Telephone Input CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css"
    />
    <!-- Icons CSS -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Nice Select CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
    />
    <!-- Style CSS -->
    <link rel="stylesheet" href="admin/css/form-step.css" />
  </head>
  <body>
    <main>
      <article>
        <!-- Start Multiform HTML -->
        <section class="multi_step_form">
          <form id="msform">
            <!-- Tittle -->
            <div class="tittle">
              <h2>Proceso de verificacion</h2>
              <p>Esto es un proceso de verificacion para saber que eres real</p>
            </div>
            <!-- progressbar -->
            <ul id="progressbar">
              <li class="active">Verifica tu email</li>
              <li>Completar informacion</li>
              <li>Sube tu documento</li>
              <li>Preguntas de seguridad</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
              <h3></h3>
              <h6>Te enviaremos un email con un codigo de verificacion.</h6>
              <div class="form-row">
              
                <div class="form-group col-md-12">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="email@email.com"
                  />
                </div>
              </div>
              <div class="done_text">
                <a href="#" class="don_icon"
                  ><i class="ion-android-done"></i
                ></a>
                <h6>
                  Un codigo secreto se ha enviado a tu email
                </h6>
              </div>
              <div class="code_group">
                <input type="text" class="form-control" placeholder="0" />
                <input type="text" class="form-control" placeholder="0" />
                <input type="text" class="form-control" placeholder="0" />
                <input type="text" class="form-control" placeholder="0" />
              </div>
              <button type="button" class="action-button previous_button">
                Atras
              </button>
              <button type="button" class="next action-button">Continuar</button>
            </fieldset>
            <fieldset>
              <h3>Completa la informacion personal</h3>
              <h6>
                Por favor agregar tu informacion
              </h6>
              <!-- <div class="passport">
                <h4>C.I/Cedula De Identidad <br />Pasaporte <br />Licencia de conducir.</h4>
                <a href="#" class="don_icon"
                  ><i class="ion-android-done"></i
                ></a>
              </div> -->
              <div class="form-group col-md-12">
                <label for="">Nombre completo:</label>
                <input
                  type="text"
                  name="full_name"
                  class="form-control"
                  placeholder="Nombre completo"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="">Numero de documento de identidad:</label>
                <input
                  type="text"
                  name="full_name"
                  class="form-control"
                  placeholder="402-xxxxxxxx-x"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="">Edad:</label>
                <input
                  type="text"
                  name="full_name"
                  class="form-control"
                  placeholder="20"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="">Fecha de nacimiento:</label>
                <input
                  type="date"
                  name="full_name"
                  class="form-control"
                  placeholder="10/12/1997"
                />
              </div>
              <div class="form-group col-md-12">
                <label for="">Lugar de nacimiento:</label>
                <input
                  type="text"
                  name="full_name"
                  class="form-control"
                  placeholder="Santo Domingo"
                />
              </div>
            
              <button
                type="button"
                class="action-button previous previous_button"
              >
                Atras
              </button>
              <button type="button" class="next action-button">Continuar</button>
            </fieldset>
            <fieldset>
              <h3>Por favor verifique su identidad</h3>
              <h6>
                Por favor agregar cualquiera de los siguientes documentos
              </h6>
              <div class="passport">
                <h4>C.I/Cedula De Identidad <br />Pasaporte <br />Licencia de conducir.</h4>
                <a href="#" class="don_icon"
                  ><i class="ion-android-done"></i
                ></a>
              </div>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="upload" />
                  <label class="custom-file-label" for="upload"
                    ><i class="ion-android-cloud-outline"></i>Agregar Documento</label
                  >
                </div>
              </div>
              <ul class="file_added">
                <li>Archivos agregados:</li>
                <li>
                  <a href="#"
                    ><i class="ion-paperclip"></i>Cedula.png</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="ion-paperclip"></i>Cedula_parte_tracera.png</a
                  >
                </li>
              </ul>
              <button
                type="button"
                class="action-button previous previous_button"
              >
                Atras
              </button>
              <button type="button" class="next action-button">Continuar</button>
            </fieldset>
            <fieldset>
              <h3>Crea una pregunta</h3>
              <h6>Por favor indiquenos la respueesta de su pregunta de seguridad</h6>
              <div class="form-group">
                <select class="product_select">
                  <option data-display="1.  Elige una pregunta">
                    1. Elige una pregunta
                  </option>
                  <option>2. Elige una pregunta</option>
                  <option>3. Elige una pregunta</option>
                </select>
              </div>
              <div class="form-group fg_2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Respuesta:"
                />
              </div>
              <div class="form-group">
                <select class="product_select">
                  <option data-display="1.  Elige una pregunta">
                    1. Elige una pregunta
                  </option>
                  <option>2. Elige una pregunta</option>
                  <option>3. Elige una pregunta</option>
                </select>
              </div>
              <div class="form-group fg_3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Elije una pregunta:"
                />
              </div>
              <button
                type="button"
                class="action-button previous previous_button"
              >
                Back
              </button>
              <input type="submit" value="Enviar" class="action-button" />
            </fieldset>
          </form>
        </section>
        <!-- END Multiform HTML -->
      </article>
    </main>

    <footer class="credit">
      Author: Hyser - Distributed By:
      <a
        title="Awesome web design code & scripts"
        href="https://www.codehim.com?source=demo-page"
        target="_blank"
        >CodeHim</a
      >
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <script src="admin/js/multi_step.js"></script>
  </body>
</html>
