<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
               <div class="d-flex justify-content-between">
                  <div>
                     <span><b>Total disponible para retiro</b></span>
                     <div class="mt-2">
                        <h2 class="counter" style="visibility: visible;">$35000</h2>
                     </div>
                  </div>
                  <div>
                     <span class="badge bg-primary">Total</span>
                  </div>
               </div>
               <div class="d-flex justify-content-between mt-2">
                  <div>
                     <span>Dinero total para retiro</span>
                  </div>
                
               </div>
              
            </div>
         </div>
    </div>
    
</div>
<div class="row">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Retiros pendientes</h4>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive mt-4">
            <table id="basic-table" class="table table-striped mb-0" role="grid">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Cantidad</th>
                  <th>Tipo de cuenta</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6>Darvin Rodriguez</h6>
                    </div>
                  </td>
                
                  <td>email@email.com</td>
                  <td><div class="text-success">$500</div></td>
                  <td class="text-center">
                      <span class="badge rounded-pill bg-info">Billetera virtual</span>
                    </td>
                  <td> <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalDefault"
                  >
                    Ver Cantidad
                  </button></td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6>Adriana Alvarez</h6>
                    </div>
                  </td>
                 
                  <td>correo@correo.com</td>
                  <td><div class="text-success">$500</div></td>
                  <td class="text-center">
                      <span class="badge rounded-pill bg-info">Cuenta Bancaria</span>
                    </td>
                  <td> <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalDefault"
                  >
                    Ver Cantidad
                  </button></td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6>Fix Platform Errors</h6>
                    </div>
                  </td>
                  <td>email@email.com</td>
                  <td><div class="text-success">$500</div></td>
                  <td class="text-center">
                      <span class="badge rounded-pill bg-info">Cuenta Bancario</span>
                    </td>
                  <td> <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalDefault"
                  >
                    Ver Cantidad
                  </button></td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <h6>Launch Our Mobile App</h6>
                    </div>
                  </td>
                 
                  <td>admin@email.com</td>
                  <td><div class="text-success">$500</div></td>
                  <td class="text-center">
                      <span class="badge rounded-pill bg-info">Billetera virtual</span>
                    </td>
                 <td> <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModalDefault"
                  >
                    Ver Cantidad
                  </button></td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>